<ng-container *ngIf="entityData.length; else loading">

    <table>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Peso</th>

        </tr>
        <tr *ngFor="let item of entityData" (click)="handleSelect(item)">
            <td>{{item.name}}</td>
            <td>{{item.type}}</td>
            <td>{{item.price}}</td>
            <td>{{item.weight}}</td>
        </tr>
    </table>
</ng-container>

<ng-template #loading>
    <div>
        Cargando...
    </div>
</ng-template>

